name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  aoc_2022:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: aoc
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  aoc_2025:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: aoc025
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
